html, body{
    height:100%;
}


.fill {
    min-height: 100%;
    height: 100%;
    width: 100%;
    min-width: 100%;
}

.fill-height {
    min-height: calc(100% - 52px);
    height: calc(100% - 52px);
}

.nopadding {
    padding: 0;
}

.navbar{
    margin-bottom:0;
}

.content{
    position: relative;
    height: inherit;
}

#map{
    min-width:100%;
    width:100%;
    top: 0px;
    bottom: 0;
    position: absolute;
}

#doc {
    position: absolute;
    bottom: 0px;
    width: 100%;
    display: none;
}

.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}

.info h4 {
    margin: 0 0 5px;
    color: #777;
}

#chartContainer {
    height: 70%; 
    width: 100%;
}

#neighbor-container{
    height: 400px; 
    width: 400px;
}

#district-container {
    height: 400px; 
    width: 300px;
}

#parent-container {
    height: 400px; 
    width: 300px;
}

